@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animate-blink {
        animation: blink 1s step-end infinite;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.perspective-1000 {
  perspective: 1000px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}